* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .card {
  width: 100%;
}
main .card img {
  width: 100%;
  border-radius: 0.7rem;
}
main .card .top {
  width: 100%;
  display: flex;
  align-items: top;
  color: white;
}
main .card .centre {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
}
main .card .footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}